@using EoraMarketplace.Data.Domain.Characters;
@model EoraMarketpalce.Web.Models.Characters.CharactersVM
@{
    ViewBag.Title = "Characters";
}
@section scripts{
    @Scripts.Render("~/vm/character")
}

<h2>Characters</h2>

<div id="createFormContainer" class="row"></div>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Create new", "Create", "Character", new { }, new { @class = "btn btn-info" })
        @*<button class="" onclick="vm.StartCreateCharakter()">Create new</button>*@
    </div>
    @{
        foreach(Character item in Model.Characters)
        {
            <div class="col-md-4">
                <h1>@item.Name</h1>
                <img src="@item.Avatar.ImageUrl" alt="avatar" height="50" />
                <span>@item.Race.Name</span>
                <span>@item.Class.Name</span>
                <span>@item.Credits</span>
            </div>
        }
    }
</div>
