@using EoraMarketplace.Data.Domain.Characters;
@model EoraMarketpalce.Web.Models.Characters.CharactersVM
@{
    ViewBag.Title = "Characters";
}
@section scripts{
    @Scripts.Render("~/vm/character")
}
@section styles{
    <link href="~/Content/CharactersStyles.css" rel="stylesheet" />
}

<h2>Characters</h2>

<div id="createFormContainer" class="row"></div>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Create new", "Create", "Character", new { }, new { @class = "btn btn-info" })
        @*<button class="" onclick="vm.StartCreateCharakter()">Create new</button>*@
    </div>

    <div class="col-md-12 char-container">
        @{
            foreach(Character item in Model.Characters)
            {
                <div id="@item.Id" class="character card" style="background: url('@item.Avatar.ImageUrl') no-repeat; background-size: cover;">
                    <div class="options btn-group">
                        @Html.ActionLink("View", "View", "Character", null, new { @class = "btn btn-default btn-xs" })
                        @Html.ActionLink("Select", "SelectCharacter", "Character", new { characterId = item.Id }, new { @class = "btn btn-success btn-xs" })
                    </div>
                    <div class="caption">
                        @item.Name<br />
                        <p>(@item.Race.Name / @item.Class.Name)</p>
                        <p class="right">Golds: @item.Credits</p>
                    </div>
                </div>
            }
        }
    </div>
</div>
