@using Microsoft.AspNet.Identity
@if(Request.IsAuthenticated)
{
    using(Html.BeginForm("", "SignOut", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.Action("GetActiveCharacter", "Home")
        </li>

        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "", "Character", null, new { @class = "navbar-brand" })
        </li>
        
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign Up", "", "SignUp", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Sig In", "", "SignIn", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}